/* General */

body
{
  color: #666;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
  background: #FFFAFA;
}

/*.clearfix::after
{
  content: " 0020";
  line-height: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
}*/

h1
{
  font-size: 30px;
}

h2
{

}

.block h2.title
{
  border-bottom: 1px dotted #666666;
  color: #333333;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 20px;
  padding: 0;
}

h3
{
  font-size: 16px;
  line-height: 16px;
}

h4
{

}

h5
{

}

h6
{

} 

h1,
h2,
h3,
h4,
h5,
h6
{
  border-bottom: 1px dotted #362C20;
  color: #362C20;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
}

h1.title,
h2.title,
h3.title
{
  border-bottom: 1px dotted #362C20;
  margin-bottom: 10px;
}

a,
a:link
{
  color: #C4841F;
  text-decoration: none;
}

a:hover
{
  color: #6A624D;
  text-decoration: underline;
}

a:active,
a.active
{

}

table
{
  width: 100%;
}

table tr
{
  
}

table tr.first
{
  border-top: 1px solid #CCC;
}

table tr.odd
{
  background-color: #eee;
}

table tr.even
{
  background-color: #fafafa;
}

table tr td,
table tr th
{
  padding: 5px 5px 5px 5px;
}

#page-wrapper-wrapper
{
  padding: 0px 0px 50px 0px;
}

#page
{
  font-size: 12px;
  line-height: 130%;
  padding-bottom: 40px;
}

#page p
{
  line-height: 18px;
}







/* header top */

#header-top-wrapper
{
  width: 100%;
  height: 50px;
  background: #BAB6A3;
}

#header-top
{
  width: 960px;
  height: 50px;
  margin: 0px auto;
  
  background: url('../images/kogyo/header-top.png') 553px 0px no-repeat transparent;
}


/* Secondary links (header top) */

ul#secondary-menu
{
  float: right;
  margin: 16px 0px;
  color: #254461;
}

ul#secondary-menu li
{
  
}

ul#secondary-menu li a
{
  color: #254461;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

ul#secondary-menu li a:hover
{
  text-decoration: underline;
}



/* header bottom */

#header-wrapper-bottom
{
  width: 100%;
  background: #CFCAB5;
}

#header
{
  width: 960px;
  height: 250px;
  margin: 0px auto;
}

/* navigation */

#navigation-wrapper
{
  width: 100%;
  background-color: #254461;
  color: #B6B6B6;
  padding: 15px 0;
}

#navigation
{
  float: none;
  width: 960px;
  min-height: 37px;
  margin: 0px auto;
  
  font-size: 13px;
  font-weight: bold;
}

#navigation ul,
#navigation ul li
{
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none outside none;
  list-style-image: none;
}

#navigation ul li a:link,
#navigation ul li a:visited
{
  display: block;
  margin: 0 14px 0 0;
  padding: 10px 25px;

  text-decoration: none;
  color: #362C20;
  background-color: #BAB6A3;
  border-radius: 5px 5px 5px 5px;
}

#navigation ul li a:hover
{
  background-color: #E0DDCF;
  color: #362C20;
  text-decoration: none;
}

#navigation ul li a.active
{
  background-color: #6A624D;
  color: #CFCAB5;
  text-decoration: none;
}

/* main */


.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second
{
  margin-top: 1.8em;
}

h1.title
{
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  margin: 20px 0px;
}

h1.title .subtitle
{
  font-size: 80%;
  line-height: 29px;
}

.sidebar-second #content
{
  margin-left: 0;
  margin-right: -600px;
  width: 600px;
}

.region-sidebar-second
{
  margin-left: 600px;
  width: 302px;
}



.node .content img
{
  border: 1px solid #CCCCCC;
  padding: 5px;
}




/* sidebar(s) */

/* footer wrapper top */

#footer-wrapper-top
{
  width: 100%;
  height: 30px;
  background: url('../images/kogyo/flecks_strip.jpg') 0px 0px repeat-x #D0CAB0;
}

/* footer */

#footer-wrapper
{
  width: 100%;
  min-height: 150px;
  background-color: #6A624D;
}

#footer
{
  width: 960px;
  margin: 0px auto;
  color: #CECBA8;
}

#footer a:active,
#footer a:link
{
  color: #E9E9E9;
}

#footer div.disclaimer
{
  float: left;
  width: 100%;
  margin: 10px 0px 0px 0px;
  font-size: 10px;
  color: #C8CCB3;
}

#footer p.disclaimer
{
  padding-top: 15px;
}

#footer a.uls
{
  float: right;
  width: 65px;
  height: 20px;
    
  background: url('../images/kogyo/ULSLogo20.gif') 0px 0px no-repeat transparent;
}





/* Solr search block */

#quicktabs-solr_search
{

}

#block-islandora_solr_search-simple #edit-islandora-simple-search-query-wrapper
{
  float: left;
}

#block-islandora_solr_search-simple .form-submit
{
  float: left;
  margin: 13px 0px 13px 15px;
}

#block-islandora_solr_search-advanced
{
  padding-top: 10px;
}

ul.quicktabs_tabs
{
  padding: 0px 0px 0px 0px;
}

.quicktabs_tabs li
{

}

.quicktabs_tabs li a
{
  margin-right: 5px;
  padding: 5px 7px;

  border-radius: 5px 5px 5px 5px;
  font-size: 90%;
}

.quicktabs_tabs li.active a
{
  background: #BAB6A3;
  color: #fafafa;
/*   color: #F0EEE8; */
}

.quicktabs_tabs li.active a:hover
{
  text-decoration: none;
}







/* Content */


.field-field-citation
{
  text-align: right;
  line-height: 18px;
  font-size: 80%;
  margin: 20px 0px 30px 0px;
}

.kogyo-contact-info
{
  float: left;
  width: 100%;
  text-align: right;
  line-height: 18px;
  font-size: 80%;
  margin: 10px 0px 15px 0px; 
}










/* Kogyo play tab markup */

.kogyo-tabs-wrapper
{
  margin: 20px 0px 0px 0px;
  float: left;
}

.kogyo-tabs-wrapper .hidden
{
  display: none;
}

.kogyo-tabs-content-wrapper
{
  float: left;
  width: 100%;
  background-color: #F0F3F4;
  border-color: #999999 #999999 #CCCCCC #CCCCCC;
  border-style: solid;
  border-width: 1px;

}

ul.kogyo-tabs
{
  float: left;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul.kogyo-tabs li
{
  float: left;
  display: inline-block;
  list-style: none;
  list-style-image: none;
  
  margin: 0px 7px 0px 0px;
  padding: 5px;
  cursor: pointer;
   
  position: relative;
  top: 1px;
  
  
  background-color: #F0EEE8;
  border-color: #999999 #999999 #999999 #CCCCCC;
  border-style: solid;
  border-width: 1px;
}

ul.kogyo-tabs li.hover
{
  background: #ddd;
}

ul.kogyo-tabs li.active
{
  background-color: #F0F3F4;
  border-bottom: 1px solid #F0F3F4;
}

.kogyo-tab-content
{
  font-size: 11px;
  line-height: 18px;
  overflow: hidden;
  padding: 10px;
}

/* islandora_solr_search */
ol.islandora_solr_results
{
  list-style-type:none;
  padding: 0;
  margin: auto 5px;
}
.islandora_solr_results .odd
{
  background-color:#FAF9F6;
}
.islandora_solr_results .even
{
  background-color:#FFF;
}
.islandora_solr_result
{
  float:none;
  display:block;
  border:1px solid #AAA;
  clear:both;
  position:relative;
  font-size:12px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.islandora_solr_result a
{
}
.islandora_solr_result .solr-left 
{
  float:left;
  width:130px;
  text-align:center;
  display: table-cell;
  padding: 10px 0;
}
.islandora_solr_result .solr-left a img
{
  vertical-align:middle;
  border:4px solid black;
}
.islandora_solr_result .solr-right 
{
  margin-left:130px;
  padding:10px 5px;
}
.islandora_solr_result .solr-clear 
{
  clear:both;
}
.islandora_solr_result .solr-field, 
.islandora_solr_result .solr-field:last-child 
{
  float:none;
  border:1px solid #ccc;
  margin:0 10px 5px 0;
  padding:3px;
  width:auto;
}
.islandora_solr_result .solr-field .value
{
  float:none;
  width:auto;
}
.islandora_solr_result .solr-field .value label
{
  padding-right: .5em;
}
.islandora_solr_result .solr-field .value label:after
{
  content:":";
}
.islandora_solr_result .solr-field a
{
  padding:3px 0;
  text-decoration:none;
  font-weight:bold;
  color:black;
}
.islandora_solr_result .solr-field .value .solr-page-number
{
}
.islandora_solr_result .mods-name-creator-ms 
{
}

